{#
    キャンセル期間を超過
    要）popup-common.twig
#}
<div class="option-popup-block" id="popup-overseas-entry-cancel">
    <div class="entry-option-popup">
        <div class="background"></div>
        <div class="entry-option-popup-body">
            <div class="alart-popup-close-button js-tabindex-plan-popup js-tabindex" tabindex="0"><i class="fas fa-times"></i></div>
            <div class="popup-contents">
                <div class="popup-wrap popup-overseas-edit">
                    <div class="popup-header">
                        <h2 class="title cancel-popup-title">キャンセル</h2>
                    </div>
                    <div class="popup-body">
                        <p>キャンセル期間を超過しているため、お手続きはできません。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>