{#
    プラン変更・追加・期間延長 ご利用開始日以降に手続き可能
    要）popup-common.twig
#}
<div class="option-popup-block" id="popup-overseas-caution">
    <div class="entry-option-popup">
        <div class="background"></div>
        <div class="entry-option-popup-body">
            <div class="alart-popup-close-button js-tabindex-plan-popup js-tabindex" tabindex="0"><i class="fas fa-times"></i></div>
            <div class="popup-contents">
                <div class="popup-wrap popup-overseas-edit">
                    <div class="popup-header">
                        <h2 class="title">プラン変更・追加・期間延長</h2>
                    </div>
                    <div class="popup-body">
                        <p>ご利用開始日以降に手続きが可能です。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
